@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bg: #151F2E;
  --font-primary: #A0B1C5;
  --font-secondary: #e0e8f1;
  --weight: 500;
  --border-radius: 3px;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--font-primary);
  font-size: 14px;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input#search {
  padding-left: 5px;
  background-color: var(--font-primary);
  color: var(--bg);
  outline: none;
  border: none;
  border-radius: var(--border-radius);
}

input#search::placeholder {
  color: #4d545e;
}

button {
  cursor: pointer;
  font-weight: var(--weight);
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  transition: 0.2s;
}

button:hover {
  color: #e0e8f1;
}

body {
  vertical-align: middle;
  background-color: var(--bg);
  width: 420px;
}

.cell {
  display: table-cell;
  height: 140px;
  width: 100px;
  border: 3px solid var(--bg);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.table-wrapper {
  width: 100%;
}

table {
  border-collapse: collapse;
}

.centerText {
  font-weight: var(--weight);
  width: 100px;
  padding-top: 1.5px;
  text-align: center;
  position: absolute;
  transform: translate(0px, -19px);
  background-color: #152232ab;
}

.updateElement,
.progressElement {
  color: var(--font-secondary);
  background-color: transparent;
  font-size: 12px;
}

.updateElement:hover {
  transform: translate(0, -1px);
}

/* .cell:hover {
  transform: scale(1.05);
} */

.mediaList {
  border-radius: var(--border-radius);
  position: relative;
  transition: 0.2s;
}

/* .mediaList:hover {
  transform: scale(1.05);
} */

form {
  display: inline-block;
}

.textDisplay {
  display:inline-block;
  font-weight:bold;
}

.topBar {
  margin-bottom: 5px;
}